{% extends 'base.html' %}
{% block title %}Delete course{% endblock %}

{% block content %}
<section class="portfolio-block contact">
    <div class="container">
        <form method="post">
            <h2>Delete course "{{ object.title }}"</h2>
            {% csrf_token %}
            <p>Are you sure you want to delete "{{ object }}"?</p>
            <div class="form-group"><button class="btn btn-primary " type="submit">Confirm</button></div>
        </form>
    </div>
</section>
{% endblock %}